.person-shortcut {
    display: inline-block;
    margin: 0 3px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 5px;
    -webkit-transition: all 0.2s;
}
.person-shortcut:hover {
    cursor: pointer;
    -webkit-filter: brightness(0.7);
}
.persons-cell {
    padding-top: 3px !important;
    padding-bottom: 0 !important;
}
.custom-glyphicon {
    opacity: 0.4;
    -webkit-transition: all 0.1s;
}
.custom-glyphicon:hover {
    cursor: pointer;
    opacity: 0.8;
}
input.custom-input {
    background: #1c1c1c;
    border: 1px solid #3f3f3f;
    color: #fff;
    padding: 0 10px;
    height: 25px;
}
input.custom-input.custom-input-small {
    padding: 0 5px;
}
.table-form:focus {
    outline: none;
}
#products-table-body,
/*#products-table-foot,*/
#products-table{
    table-layout: fixed;
}
#products-table-body td:not(.persons-cell),
/*#products-table-foot td:not(.persons-cell),*/
#products-table td:not(.persons-cell),
#products-table th{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
table {
    margin-bottom: 0 !important;
}
.fixed-bot {
    position: fixed;
    bottom: 0;
}
.glyphicons > .glyphicon {
    margin-left: 5px;
}
#add-person-button {
    padding: 0;
    padding-left: 7px;
    background: inherit;
    border: inherit;
}
.row {
    margin: 0 !important;
}
#products-table-body-div {
    max-height: 82vh;
    overflow-y: auto;
}
#summary-button {
    margin: 20px;
    padding: 10px;
}

.summary-box {
    padding: 7px 15px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid transparent;
    color: #fff;
}
.summary-box-outer {
    width: auto !important;
    overflow: auto;
}
.center.navbar .nav,
.center.navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}

.center .navbar-inner {
    text-align:center;
}

#back-button {
    width: 100px;
}
.summary-header {
    margin: 0 15px;
    overflow: auto;
    height: 100%;
    vertical-align: middle;
    color: white;
}
.summary-header div {
    display: inline-block;
}
#summary-total-name {
    font-size: 18px;
}
#summary-total-value {
    margin-left: 10px;
    font-size: 30px;
}
@media (max-width: 1250px) {
    table.table tr td.cell-small {
        padding-left: 1px;
        padding-right: 1px;
    }
}
@media (max-width: 991px) {
    .persons-column {
        margin-top: 20px;
    }
}
.product-name {
    min-width: 100px !important;
}
.product-quantity {
    min-width: 50px !important;
}
.product-price {
    min-width: 70px !important;
}
table.table-inverse,
.inverse{
    background-color: #fff !important;
    color: #000 !important;
}
table.table-inverse > tbody > tr:hover {
    background-color: #939393;
    cursor: pointer;
}
#open-popup-table {
    max-height: 50vh;
    overflow-y: auto;
}
.selected-bill {
    background-color: #6bb0f0 !important;
}
.center {
    text-align: center !important;
}
.popup-button {
    width: 100px;
}
.custom-alert {
    opacity: 1;
    /*    white-space: normal;
        text-overflow: ellipsis;
        overflow-x: hidden;
        max-height: 15vh;*/
}
.custom-alert.ng-leave {
    transition: 0.5s;
    opacity: 1;
}
.custom-alert.ng-leave-active {
    opacity: 0;
}
.custom-alert div[ng-transclude] {
    white-space: normal;
    text-overflow: ellipsis;
    overflow-x: hidden;
    max-height: 15vh;
}
#alerts-box {
    position: fixed;
    z-index: 1000;
    bottom: 10px;
    right: 10px;
    width: 40vw;
    max-height: 50%;
    overflow-y: auto;
    /*max-width: 40%;*/
}
@media (max-width: 768px){
    #alerts-box {
        width: 96%;
    }
    #alerts-box > div div {
        margin-bottom: 2px;
    }
}
#alerts-box >div:last-child div {
    margin-bottom: 0px;
}
#products-table-foot {
    overflow-x: auto;
}
.home-title-bar {
    color: #fff;
    padding: 5px;
    border-bottom: 1px solid #5e5e5e;
    margin-bottom: 15px;
    overflow-x: auto;
}
.home-title-bar > * {
    display: inline-block;
}
.title {
    font-size: 30px;
}
.editable-click {
    border-bottom: none !important;
    color: inherit !important;
}
.custom-tooltip > .tooltip-inner {
    background-color: white;
    color: black;
}
.custom-tooltip > .tooltip-arrow {
    border-top-color: white !important;
}
.contribution-percent {
    font-size: 0.5em;
}
.label.paid-badge {
    position: relative;
    left: 10px;
    font-size: 15px;
    vertical-align: middle;
    box-shadow: 0 0 10px #3f3f3f;
    cursor: pointer;
}

