<div class="row">
    <div class="col-md-offset-1 col-md-8">
        <table class="table table-bordered table-stripped">
            <thead>
                <tr>
                    <th class="col-xs-1"></th>
                    <th class="col-xs-3">Name</th>
                    <th class="col-xs-1 text-center">Quantity</th>
                    <th class="col-xs-2 text-center">Price</th>
                    <th class="col-xs-5 text-center">Persons</th>
                </tr>
            </thead>
            <tfoot>
                <tr class="static table-form" ng-keypress="addProductShortcut(newProduct, $event)" tabindex="0">
                    <td class="text-center">
                        <span class="glyphicon glyphicon-floppy-save custom-glyphicon" 
                              ng-click="addProduct(newProduct)" ng-init="refreshNewProduct()"></span>
                    </td>
                    <td>
                        <input class="form-control custom-input" placeholder="Name" ng-model="newProduct.name"/>
                    </td>
                    <td>
                        <input class="form-control custom-input text-center" placeholder="Qty" ng-model="newProduct.quantity"/>
                    </td>
                    <td>
                        <input class="form-control custom-input text-center" placeholder="Price" ng-model="newProduct.price"/>
                    </td>
                    <td class="text-center persons-cell">
                        <div class="person-shortcut" ng-repeat="person in personsPool" ng-style="personShortcutColor(person, newProduct.persons)"
                             ng-class="personShortcutClass(person, newProduct.persons)" ng-click="toggleAddPersonToProduct(person.id, newProduct.persons)">
                            {{person.name| personShortcut}}
                        </div>
                    </td>
                </tr>
            </tfoot>
            <tbody>
                <tr ng-repeat="product in productsList">
                    <td class="text-center">
                        <span class="glyphicon glyphicon-remove custom-glyphicon" 
                              ng-click="removeProduct($index)"></span>
                    </td>
                    <td>{{product.name}}</td>
                    <td class="text-center">{{product.quantity}}</td>
                    <td class="text-center">{{product.price| currency}}</td>
                    <td class="text-center persons-cell">
                        <div class="person-shortcut" ng-repeat="person in personsPool" ng-style="personShortcutColor(person, product.persons)"
                             ng-class="personShortcutClass(person, product.persons)" ng-click="toggleAddPersonToProduct(person.id, product.persons)">
                            {{person.name| personShortcut}}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2">
        <table class="table table-bordered">
            <tr ng-repeat="person in personsPool">
                <td ng-style="{
                            'background': person.color}">{{person.name}}</td>
            </tr>
        </table>
    </div>
</div>